.info {
  display: inline-block;
  color: #fff;
  font-family: "Roboto", sans-serif;
  width: 50%;
  vertical-align: middle;
}

.info > dt {
  margin-bottom: 100px;
  font-size: 25px;
}

.info > .info__item {
  margin-bottom: 25px;
  font-size: 20px;
}

.info > .info__item.with-value {
  width: 200px;
  text-align: right;
}

.info > .info__item > strong {
  float: left;
  text-transform: uppercase;
}

.info > .info__text {
  width: 100%;
  margin-top: 75px;
  font-size: 18px;
  line-height: 30px;
}

.info > .info__more {
  font-size: 18px;
  margin: 40px 0;
}

.info > .info__more > a {
  text-decoration: none;
  color: inherit;
}

.info > .action {
  margin-top: 98px;
  display: inline-block;
}
