.info-wrapper {
  font-family: "Roboto", sans-serif;
  width: 530px;
  vertical-align: middle;
  display: inline-block;
}

.info {
  display: inline-block;
  color: #fff;
}

.info > dt {
  margin-bottom: 50px;
  font-size: 25px;
}

.info > .info__item {
  margin-bottom: 25px;
  font-size: 20px;
}

.info > .info__item.--heart {
  position: absolute;
  transform: translateX(-100%);
  top: 5px;
  left: -47px;
  cursor: pointer;
}

.info > .info__item.--stars {
  margin-bottom: 10px;
}

.info .--highlight:hover {
  transform: scale(1.1);
}

.info > .info__item.--stars + .info__item {
  margin-left: 7px;
}

.info > .info__item.--with-value {
  width: 200px;
  text-align: right;
}

.info > .info__item > strong {
  float: left;
  text-transform: uppercase;
}

.info > .info__text {
  width: 100%;
  margin-top: 75px;
  font-size: 18px;
  line-height: 30px;
}

.info > .info__item.--more {
  font-size: 18px;
  margin-top: 40px;
}

.info > .info__item.--more > a {
  text-decoration: none;
  color: inherit;
}
