.container header {
  overflow: hidden;
  color: #fff;
  margin-bottom: 138px;
  padding-left: 60px;
}

header h1 {
  float: left;
  font-size: 40px;
  font-family: Arial, "Roboto", sans-serif;
  text-transform: uppercase;
}

header input[type="search"] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: inherit;
  font-family: Arial, "Roboto", sans-serif;
  font-size: 21px;
  padding: 8px;
  width: 358px;
  margin-right: 65px;
  vertical-align: bottom;

  -webkit-appearance: none;
}

header > nav {
  float: Right;
  font-family: "SegoeUI", "Roboto", sans-serif;
}

header > nav > a {
  display: inline-block;
  text-decoration: none;
  font-size: 21px;
  margin-left: 55px;
  color: inherit;
  /* vertical-align: bottom; */
  padding: 8px;
  border-bottom: 1px solid transparent;

  /* transition: all 2s ease-out; */
}

header > nav > a:hover {
  border-bottom-color: #fff;
}
