.container header {
  overflow: hidden;
  color: #fff;
  margin-bottom: 138px;
  padding-left: 60px;
}

header h1 {
  float: left;
  font-size: 40px;
  font-family: Arial, "Roboto", sans-serif;
  text-transform: uppercase;
}

header input[type="search"] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: inherit;
  font-family: Arial, "Roboto", sans-serif;
  font-size: 21px;
  padding: 8px;
  width: 358px;
  margin-right: 65px;
  vertical-align: bottom;

  -webkit-appearance: none;
}

header > nav {
  float: Right;
  font-family: "SegoeUI", "Roboto", sans-serif;
}

header > nav > a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-size: 21px;
  margin-right: 55px;
  color: inherit;
  /* vertical-align: bottom; */
  padding-bottom: 8px;

  /* transition: all 2s ease-out; */
}

header > nav > a:last-child {
  margin-right: 0;
}

header > nav > a:after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transition: transform 200ms linear;
  transform-origin: left;
}

header > nav > a:hover:after {
  transform: scaleX(1);
}

@media (max-width: 1235px) {
  header {
    padding-left: 0;
  }

  header h1 {
    float: none;
    text-align: center;
    margin-bottom: 20px;
  }

  header > nav {
    float: none;
    text-align: center;
  }
}

@media (max-width: 955px) {
  header {
    padding-left: 30px;
  }

  header input[type="search"] {
    display: none;
  }
}

@media (max-width: 530px) {
  header > nav > a {
    margin-right: 30px;
  }
}

@media (max-width: 465px) {
  header > nav > a {
    margin-right: 15px;
  }
}

@media (max-width: 385px) {
  .container header {
    padding-left: 0;
  }

  header > nav > a {
    margin-right: 7px;
  }
}
