.picture {
  display: inline-block;
  width: 530px;
  background-color: #fff;
  vertical-align: middle;

  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;

  margin-right: 150px;
}
