.product-picture {
  display: inline-block;
  left: 0;
  background-color: #fff;
  width: 40%;
  height: 600px;
  margin-top: 95px;
  margin-left: -60px;
  vertical-align: middle;
}

.product-picture {
  width: 550px;
  height: 550px;
}
